body {
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: rgb(53, 68, 79);
    margin: 45px 0 50px 0;
}

.menu__item {
    width: 20%;
    list-style-type: none;
    text-align: center;
    color: #fff;
    padding: 25px 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    cursor: pointer;
    font-size: 20px;    
}

.menu__item:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}

.content-menu {
    width: 20%;
    border: 1px solid black;
}

.second-menu {
    padding: 0;
    margin: 0;
    height: 100%;
}

.second-menu__item {
    list-style-type: none;
    color: #485863;
    padding: 26px 0 32px 42px;
    cursor: pointer;
}

.second-menu__item:hover {
    padding-left: 68px;
    color: #252525;
    background-color: #dbdbdb;
}

.content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 75%;
    height: 530px;
}

.text-content {
    width: 100%;
    margin: 51px 0 31px 0;
}

.text-content__item {
    width: 73%;
    margin-left: auto;
    color: #434343;
}

.footer {
    background-color: #b4b7ba;
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-menu__item {
    list-style-type: none;
    color: #0c1927;
    margin-left: 25px;
    font-size: 20px;  
}

.footer-menu__item:hover {
    color: #3181a6;
    text-decoration: underline;
        
}

.footer-text {
    color: #0c1927;
    font-size: 20px;
    margin-right: 25px;
}

  